/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  z-index: 1000;
}

.navbar.scrolled {
  background: goldenrodg;
  color:papayawhip;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: rgb(250, 34, 232);
}

/* Sections */
section {
  height: 100vh;
  padding: 80px 20px;
  text-align: center;
}

#home {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
}

#about, #services, #contact {
  background: #f4f4f4;
}